<% include partials/_header %>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/updateusuario/<%= datos.idusuario %>"" method="POST">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text"  name="nombre" value="<%= datos.nombre %>" placeholder="Nombre" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input type="text"  name="nombreU" value="<%= datos.nombreU %>" placeholder="Nombre de Usuario" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Contrase単a</label>
                            <input type="text"  name="contrase単a" value="<%= datos.contrase単a %>" placeholder="Contrase単a" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-outline-light">
                            Guardar datos modificados
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>








</div>
<% include partials/_footer %>
