<div class="container-fluid">
    <div id="addhospital" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title justify-content-center">Agregar Hospital</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/addhospital" method="POST">
                    <div class="form-group">
                        <input type="text" name="nombre" placeholder="Nombre del hospital" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  name="direccion" placeholder="Dirección del hospital" class="form-control" required>
                    </div>   
                    <label for="Atencion">Nivel de Atencion</label>
                    <div class="form-group">                
                            <select name="nivelaten"  placeholder="Nivel de Atencion" class="form-control" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select> 
                    </div>
                    <div class="form-group">
                        <input type="text"  name="telefono" placeholder="Telefono" class="form-control" required>
                    </div>    
                    <div class="form-group">
                        <input type="text"  name="mapa" placeholder="Link del mapa" class="form-control" required>                      
                    </div>    
                    <label for="Color">Color del Collapse</label>
                    <div class="form-group">                
                            <select name="color" value="indigo lighten-5" placeholder="Color" class="form-control" required>
                                <option value="blue darken-5 white-text">Azul</option>
                                <option value="indigo lighten-5">Blanco</option>
                              </select> 
                    </div>      
                        <button type="submit" class="btn btn-block btn-outline-success">
                            Guardar datos
                        </button>
                        <button type="button" class="btn btn-block btn-outline-danger" data-bs-dismiss="modal">Cancelar</button> 
                    </form>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>

