<div class="container mt-5 ">     
    <div class="alert alert-warning alert-dismissible text-center fade show" role="alert">
        <strong><%=error_msg%></strong> 
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
</div>
